
/* BASE */
/* ========================================================================== */
@font-face {
  font-family: lato-light;
  src: url("/fonts/lato-light.eot");
  src: url("/fonts/lato-light.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-light.woff") format("woff"), url("/fonts/lato-light.ttf") format("truetype"), url("/fonts/lato-light.svg##lato-light") format("svg"); }

@font-face {
  font-family: lato;
  src: url("/fonts/lato-regular.eot");
  src: url("/fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-regular.woff") format("woff"), url("/fonts/lato-regular.ttf") format("truetype"), url("/fonts/lato-regular.svg##lato-regular") format("svg"); }

@font-face {
  font-family: lato-bold;
  src: url("/fonts/lato-bold.eot");
  src: url("/fonts/lato-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-bold.woff") format("woff"), url("/fonts/lato-bold.ttf") format("truetype"), url("/fonts/lato-bold.svg##lato-bold") format("svg"); }

.text-center {
  text-align: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/* Vertically and horizontally center a thing */
.center {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* ==========================================================================
    RESET
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
picture,
section {
  display: block; }

/* ELEMENTS */
/* ========================================================================== */
/* ==========================================================================
    ROOT
   ========================================================================== */
/* Define the root element styles. */
html {
  background: #fff;
  box-sizing: border-box;
  color: #0A0A0A;
  height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%; }

/*
 * Border-box *all the things*, as suggested in:
 * http:// paulirish.com/2012/box-sizing-border-box-ftw
 */
*, *:before, *:after {
  box-sizing: inherit; }

/* Style the body element styles. */
body {
  background: #fff;
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-size: cover;
  font-family: lato-light, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.page-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* Colour selected text. */
::-moz-selection {
  background-color: #FE4365;
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #FE4365;
  color: #fff;
  text-shadow: none; }

h1, h2, h3 {
  margin-bottom: 1em; }

h4, h5, h6, p, ul {
  margin-bottom: 2em; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, ul:first-child {
  margin-top: 0; }

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, ul:last-child {
  margin-bottom: 0; }

/* ==========================================================================
    HEADINGS
   ========================================================================== */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  display: block;
  color: #0A0A0A;
  font-family: lato-light, sans-serif;
  font-weight: normal; }

h1,
.alpha {
  font-size: 60px; }

h2,
.beta {
  font-size: 42px; }

h3,
.gamma {
  font-size: 32px; }

h4,
.delta {
  font-size: 1em; }

h5, .epsilon,
h6, .zeta {
  font-size: 1em; }

/* ==========================================================================
    IMAGES
   ========================================================================== */
/* Fluid images. */
img {
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/* ==========================================================================
    LISTS
   ========================================================================== */
ul {
  list-style-position: inside; }

/* MODULES */
/* ========================================================================== */
/* PATTERNS */
/* ========================================================================== */
.btn {
  background-color: #FE4365;
  border: 2px solid #FE4365;
  border-radius: 50em;
  color: white;
  cursor: pointer;
  font: inherit;
  font-size: 0.8em;
  display: inline-block;
  font-family: lato, sans-serif;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in; }
  .btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.btn--large {
  font-size: 24px;
  padding: 30px 40px; }

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  font: inherit;
  margin-bottom: 1em;
  padding: 15px;
  width: 100%; }
  .form-control:valid {
    border-color: #3fb162; }

/* ==========================================================================
    INLINE GRID
   ========================================================================== */
.grid-wrapper {
  padding-left: 0.75rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 830px; }
  .grid-wrapper > .content {
    margin-top: 0.75rem; }
  @media only screen and (min-width: 64rem) {
    .grid-wrapper {
      padding-left: 1.125rem; }
      .grid-wrapper > .content {
        margin-top: 1.125rem; } }

.grid-outer {
  width: 100%;
  padding-right: 0.75rem;
  margin-bottom: 0.75rem;
  float: left; }
  @media only screen and (min-width: 64rem) {
    .grid-outer {
      padding-right: 1.125rem;
      margin-bottom: 1.125rem; } }

@media only screen and (min-width: 35rem) {
  /* Whole */
  /* Halves */
  .sm-one-half, .sm-two-quarters, .sm-three-sixths, .sm-four-eighths, .sm-five-tenths, .sm-six-twelfths {
    width: 50%; }
  /* Thirds */
  .sm-one-third, .sm-two-sixths, .sm-four-twelfths {
    width: 33.333%; }
  .sm-two-thirds, .sm-four-sixths, .sm-eight-twelfths {
    width: 66.666%; }
  /* Quarters */
  .sm-one-quarter, .sm-two-eighths, .sm-three-twelfths {
    width: 25%; }
  .sm-three-quarters, .sm-six-eighths, .sm-nine-twelfths {
    width: 75%; }
  /* Fifths */
  .sm-one-fifth, .sm-two-tenths {
    width: 20%; }
  .sm-two-fifths, .sm-four-tenths {
    width: 40%; }
  .sm-three-fifths, .sm-six-tenths {
    width: 60%; }
  .sm-four-fifths, .sm-eight-tenths {
    width: 80%; }
  /* Sixths */
  .sm-one-sixth, .sm-two-twelfths {
    width: 16.666%; }
  .sm-five-sixths, .sm-ten-twelfths {
    width: 83.333%; }
  /* Eighths */
  .sm-one-eighth {
    width: 12.5%; }
  .sm-three-eighths {
    width: 37.5%; }
  .sm-five-eighths {
    width: 62.5%; }
  .sm-seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .sm-one-tenth {
    width: 10%; }
  .sm-three-tenths {
    width: 30%; }
  .sm-seven-tenths {
    width: 70%; }
  .sm-nine-tenths {
    width: 90%; }
  /* Twelfths */
  .sm-one-twelfth {
    width: 8.333%; }
  .sm-five-twelfths {
    width: 41.666%; }
  .sm-seven-twelfths {
    width: 58.333%; }
  .sm-eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 48rem) {
  /* Whole */
  /* Halves */
  .md-one-half, .md-two-quarters, .md-three-sixths, .md-four-eighths, .md-five-tenths, .md-six-twelfths {
    width: 50%; }
  /* Thirds */
  .md-one-third, .md-two-sixths, .md-four-twelfths {
    width: 33.333%; }
  .md-two-thirds, .md-four-sixths, .md-eight-twelfths {
    width: 66.666%; }
  /* Quarters */
  .md-one-quarter, .md-two-eighths, .md-three-twelfths {
    width: 25%; }
  .md-three-quarters, .md-six-eighths, .md-nine-twelfths {
    width: 75%; }
  /* Fifths */
  .md-one-fifth, .md-two-tenths {
    width: 20%; }
  .md-two-fifths, .md-four-tenths {
    width: 40%; }
  .md-three-fifths, .md-six-tenths {
    width: 60%; }
  .md-four-fifths, .md-eight-tenths {
    width: 80%; }
  /* Sixths */
  .md-one-sixth, .md-two-twelfths {
    width: 16.666%; }
  .md-five-sixths, .md-ten-twelfths {
    width: 83.333%; }
  /* Eighths */
  .md-one-eighth {
    width: 12.5%; }
  .md-three-eighths {
    width: 37.5%; }
  .md-five-eighths {
    width: 62.5%; }
  .md-seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .md-one-tenth {
    width: 10%; }
  .md-three-tenths {
    width: 30%; }
  .md-seven-tenths {
    width: 70%; }
  .md-nine-tenths {
    width: 90%; }
  /* Twelfths */
  .md-one-twelfth {
    width: 8.333%; }
  .md-five-twelfths {
    width: 41.666%; }
  .md-seven-twelfths {
    width: 58.333%; }
  .md-eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 64rem) {
  /* Whole */
  /* Halves */
  .lg-one-half, .lg-two-quarters, .lg-three-sixths, .lg-four-eighths, .lg-five-tenths, .lg-six-twelfths {
    width: 50%; }
  /* Thirds */
  .lg-one-third, .lg-two-sixths, .lg-four-twelfths {
    width: 33.333%; }
  .lg-two-thirds, .lg-four-sixths, .lg-eight-twelfths {
    width: 66.666%; }
  /* Quarters */
  .lg-one-quarter, .lg-two-eighths, .lg-three-twelfths {
    width: 25%; }
  .lg-three-quarters, .lg-six-eighths, .lg-nine-twelfths {
    width: 75%; }
  /* Fifths */
  .lg-one-fifth, .lg-two-tenths {
    width: 20%; }
  .lg-two-fifths, .lg-four-tenths {
    width: 40%; }
  .lg-three-fifths, .lg-six-tenths {
    width: 60%; }
  .lg-four-fifths, .lg-eight-tenths {
    width: 80%; }
  /* Sixths */
  .lg-one-sixth, .lg-two-twelfths {
    width: 16.666%; }
  .lg-five-sixths, .lg-ten-twelfths {
    width: 83.333%; }
  /* Eighths */
  .lg-one-eighth {
    width: 12.5%; }
  .lg-three-eighths {
    width: 37.5%; }
  .lg-five-eighths {
    width: 62.5%; }
  .lg-seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .lg-one-tenth {
    width: 10%; }
  .lg-three-tenths {
    width: 30%; }
  .lg-seven-tenths {
    width: 70%; }
  .lg-nine-tenths {
    width: 90%; }
  /* Twelfths */
  .lg-one-twelfth {
    width: 8.333%; }
  .lg-five-twelfths {
    width: 41.666%; }
  .lg-seven-twelfths {
    width: 58.333%; }
  .lg-eleven-twelfths {
    width: 91.666%; } }

@media only screen and (min-width: 90rem) {
  /* Whole */
  /* Halves */
  .xl-one-half, .xl-two-quarters, .xl-three-sixths, .xl-four-eighths, .xl-five-tenths, .xl-six-twelfths {
    width: 50%; }
  /* Thirds */
  .xl-one-third, .xl-two-sixths, .xl-four-twelfths {
    width: 33.333%; }
  .xl-two-thirds, .xl-four-sixths, .xl-eight-twelfths {
    width: 66.666%; }
  /* Quarters */
  .xl-one-quarter, .xl-two-eighths, .xl-three-twelfths {
    width: 25%; }
  .xl-three-quarters, .xl-six-eighths, .xl-nine-twelfths {
    width: 75%; }
  /* Fifths */
  .xl-one-fifth, .xl-two-tenths {
    width: 20%; }
  .xl-two-fifths, .xl-four-tenths {
    width: 40%; }
  .xl-three-fifths, .xl-six-tenths {
    width: 60%; }
  .xl-four-fifths, .xl-eight-tenths {
    width: 80%; }
  /* Sixths */
  .xl-one-sixth, .xl-two-twelfths {
    width: 16.666%; }
  .xl-five-sixths, .xl-ten-twelfths {
    width: 83.333%; }
  /* Eighths */
  .xl-one-eighth {
    width: 12.5%; }
  .xl-three-eighths {
    width: 37.5%; }
  .xl-five-eighths {
    width: 62.5%; }
  .xl-seven-eighths {
    width: 87.5%; }
  /* Tenths */
  .xl-one-tenth {
    width: 10%; }
  .xl-three-tenths {
    width: 30%; }
  .xl-seven-tenths {
    width: 70%; }
  .xl-nine-tenths {
    width: 90%; }
  /* Twelfths */
  .xl-one-twelfth {
    width: 8.333%; }
  .xl-five-twelfths {
    width: 41.666%; }
  .xl-seven-twelfths {
    width: 58.333%; }
  .xl-eleven-twelfths {
    width: 91.666%; } }

.modal {
  background-color: white;
  left: 50%;
  max-width: 95%;
  opacity: 0;
  padding: 20px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.7);
          transform: translateX(-50%) translateY(-50%) scale(0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 540px;
  z-index: -1; }
  .modal.modal-show {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
            transform: translateX(-50%) translateY(-50%) scale(1);
    z-index: 10; }

.modal-close {
  color: #FE4365;
  cursor: pointer;
  font-size: 24px !important;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-transition: all 0.3;
  transition: all 0.3; }
  .modal-close:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.overlay {
  background-color: black;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%; }

/* ==========================================================================
    CONTENT WRAPPER
   ========================================================================== */
.wrapper {
  width: 100%;
  max-width: 830px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto; }
  .wrapper.wrapper--lg {
    max-width: 1700px; }
  .wrapper.wrapper--md {
    max-width: 1200px; }
  .wrapper > .content {
    margin-top: 2em;
    margin-bottom: 2em; }

/* VIEWS */
/* ========================================================================== */
/* VENDOR */
/* ========================================================================== */
