
/* ==========================================================================
    ROWS
   ========================================================================== */

.row {
    position: relative;
    width: 100%;
}

.row--arrow-bottom {
	&:after {
		background-color: white;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 25px solid white;
		content: "";
		display: block;
		height: 0;
		left: 50%;
		position: absolute;
		top: 100%;
		transform: translateX(-50%);
		width: 0;
	}

	+ .row {
		.row__content {
			margin-top: 52px;
		}
	}
}

.row--pri {
	background-color: $primary-color;
	color: white;

	&.row--arrow-bottom {
		&:after {
			border-top-color: $primary-color;
		}
	}
}

.row--bg {
	background-size: cover;
	background-position: center; 
}

.row--banner {
	height: 740px;
}

.row--banner-home {
	background-image: url("/images/home-banner.jpg");
}

.row__hero {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

.row__hero-heading {
	color: white;
}

.row__content {
	margin-bottom: 40px;
	margin-top: 40px;
}

.row__content--lg {
	margin-bottom: 60px;
	margin-top: 60px;
}