
/* ==========================================================================
    FOOTER
   ========================================================================== */

.footer {
	background-color: #151515;
	color: white;
}

.footer__heading {
	color: white;
	font-family: lato, sans-serif;
	width: 100%;
}

.footer__sections {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
}

.footer__section {
	display: flex;
	flex-wrap: wrap;
}

.footer__section {
	margin-bottom: 2em;
	width: 100%;

	@include mq(md) {
		width: 50%;
	}
}

.footer__links {
	margin-bottom: 0;
	width: 50%;
}

.footer__link {
	list-style: none;

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}